*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: hsl(202, 86%, 94%);
    margin: 0;
    display:flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    color: hsl(202, 55%, 16%);
    line-height: 1.7;
}

.left-div{
    background-color: white;
}

h1, h2, h3, h4, h5, p, div {
    margin: 0;
    font-weight: 500;
}

img {
    display: inline-block;
    max-width: 100%;
}

@media (min-width: 1100px) {
  html{
    font-size:18px
  }

  .container{
    border-radius: 20px;
    overflow: hidden;
  }

  .right-results{
    border-bottom-left-radius: 100px;
  }
}


/* TYPOGRAPHY */

.form-label{
    margin-bottom:.5em;
    color: hsl(200, 24%, 40%);
}


.unsubmitted{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.results-title, .form-title{
    font-size:1.4rem;
    margin-bottom:.3em;
}

.results-paragraph, .results-title, .results-stats-subtitle{
    color: hsl(203, 41%, 72%);
}

.results-title{
    color: hsl(0, 0%, 100%);
}


/* LAYOUT */

.left-form, .flex-wrapper, .combined-input{
    display: flex;
    flex-direction: column;
}

.left-div, .right-results{
    padding: 2em;
}
.right-results{
    padding-top:3em;
    padding-bottom: 3em;
    background: hsl(202, 55%, 16%);
}

.form-title, .radio-wrapper, .form-btn, .input-accent, .form-input{
    font-weight: 700;
}

.form-clear, .radio-wrapper{
    cursor: pointer;
}

.form-clear{
    margin-bottom: 1.5em;
    align-self: start;
    line-height:1.2;
    border-bottom: 1px solid black;
}

.form-input{
    border:1px solid hsl(200, 24%, 40%);
    z-index: 20;
    background-color: transparent;
    position: relative;
    width: 100%;
    padding: 0;
    font-size:inherit;
    font-family: inherit;
}

.input-padding-left{
    padding-left: 3.5em;
    padding-right: 1em;
}

.input-padding-right{
    padding-left:1em;
    padding-right: 3.5em;
}

.input-container{
    position: relative;
    height: 100%;
    margin-bottom:2em;
    width:100%;
}

.input-accent{

    width: 2.3em;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow:hidden;
    display: flex;
    align-items: center;
    background-color: hsl(202, 86%, 94%);
    z-index: 1;
    width: max-content;
    padding: 0 1em;
}

.form-type:checked{
    accent-color:hsl(61, 70%, 52%);
}



.accent-left{
    left: 0;

}
.accent-right{
    right: 0;
}

.radio-wrapper, .form-input{
    height: 3.5em;
}

.radio-wrapper, .input-accent, .form-input{
    border-radius:5px;
}

.radio-wrapper{
    display: flex;
    border: 1px solid hsl(202, 55%, 16%);
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    padding-left:1em;
}


input[type="radio"]{
    transform: scale(1.8)
}

.radio-label-container{
    display: flex;
}
.radio-label{
    display: flex;
    gap: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid hsl(61, 70%, 52%);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.check{
    /* display: inline-block; */
    width: 70%;
    height: 70%;
    background-color: hsl(61, 70%, 52%);
    border-radius: 50%;
    display: none;
}

.form-type:checked + .check{
    display: inline-block;
}

.form-type{
    display: none;
}
.mb-md{
    margin-bottom: 1.5em;
}

.form-btn, .radio-wrapper{
    color: hsl(202, 55%, 16%)
}

.form-btn{
    padding: 1.3em;
    border-radius: 50px;
    border: none;
    background-color: hsl(61, 70%, 52%);
    font-size:1.1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: .5em;
    cursor: pointer;
}

.results-paragraph{
    width: 96%;
}

.form-btn:hover, .form-btn:focus{
  background-color:hsl(61, 70%, 72%);
}


.results-stats-wrapper{
    background-color:  hsl(202, 55%, 10%);
    padding: 2em 1.5em;
    margin-top: 1.5em;
    border-radius: 10px;
    box-shadow: 0px -4px 0px hsl(61, 70%, 52%);
}

.results-stats-subtitle{
    font-size:1rem;
}


.results-stats-terms, .results-stats-monthly{
    font-weight: 600;
}

.results-stats-monthly{
    color: hsl(61, 70%, 52%);
    font-size:2.5rem;
}



.results-stats-terms{
    color: white;
}

.results-stats-monthly::after{
  content: "";
  display: block;
  width: 100%;
  height:1px;
  background-color: hsl(202, 55%, 20%);
  margin: .3em 0;
}

.active-radio{
    border: 2px solid hsl(61, 70%, 52%);
    background-color: hsl(61, 70%, 92%);
}

.active-input{
    outline: none;
    border: 2px solid hsl(61, 70%, 52%);
}

.active-input-icon{
    background-color:  hsl(61, 70%, 52%);
}

.error-input{
    border:2px solid hsl(4, 69%, 50%);
}

.error-input-accent{
    background-color: hsl(4, 69%, 50%);
    color: white;
}

.error-message{
    color: hsl(4, 69%, 50%);
    margin-top:-1em;
    margin-bottom: 1.5em;
}

.radio-label{
    cursor: pointer;
}
@media (min-width:1100px){
    body{
        min-height:100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        display: flex;
        width: 70vw;
        min-height: 100%;
        background-color: white;

    }

    .left-div, .right-results{
        width: 50%;
    }

    .left-div, .submitted{
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .right-results{
        padding-top: 0;
    }

    .flex-wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap:1em;
    }

    .title-wrapper{
        line-height: 0;
        justify-content: space-between;
        margin-bottom:3em;
    }

    .form-clear, .form-title{
        margin: 0;
    }

    .form-btn{
        align-self: flex-start;
        padding: 1.3em 2.5em;
        /* width: 60%; */
    }

    .right-results{
        padding: 2em;
        margin: 0;
    }
    .results-title{
        line-height:0;
        margin-bottom: 2em;
    }
    .form-clear{
        line-height: 0;
        padding-bottom:.6em;
        padding-top:.1em;
    }
    .results-stats-wrapper{
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .unsubmitted{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .results-stats-monthly::after{
        margin: .8em 0;
    }
    
}